/*

    Estilos ficha producto

*/




.ficha_producto-data {
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    border-radius: 5px;
}

.btnDidiFood {
    @include botonRounded($primario, inline-block, 50px);

    color: $negro;
    font-weight: $bold;
    font-family: 12px;
    text-transform: uppercase;
    width: 100%;
    @include desktop    {
        width: 50%;
    }
    margin: 0.2rem 0.9rem;
}

.priceInterior  {
    background-color: $primario;
    border-radius: 100px;
    padding: 0.4rem;
    position: relative;
    sup {
        font-size: 1.2rem;
        left: -10px;
    }
}

.btnList_url {
    display: flex;
    flex-wrap: wrap;

    a {
        flex-grow: 1;
        width: 25%;
        font-size: 1.2rem;
    }
}